Source: {{ name }}
Section: utils
Priority: optional
Maintainer: {{ author }}
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: {{ git_url }}
Vcs-Git: {{ git_url }}

Package: {{ name }}
Architecture: {{ architecture.ubuntu }}
Depends: {{ dependencies.ubuntu_common | join(',') }}
Description: {{ description }}

Package: 45d-fancontrol
Architecture: all
Depends: {{ name }} (= {{ version }})
Recommends: ipmi-hwmon, drivetemp, ipmb-bus
Description: Meta package for fan control on 45Drives servers: pulls in {{ name }}, ipmi-hwmon, and drivetemp.
